@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: "Sarabun", "sans-serif";
  --font-sarabun: "Sarabun", "sans-serif";
  --font-notothai: "Noto Sans Thai", "sans-serif";
  --font-pridi: "Pridi", "sans-serif";
}

@custom-variant dark (&:where(.dark, [data-theme="dark"], .dark *));

:root {
  --background: #ededed;
  --foreground: #171717;
}

.dark,
[data-theme="dark"] {
  --background: #1b1b1f;
  --foreground: #ededed;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] focus:outline-0;
}

.Toastify__toast {
  font-family: "Sarabun", sans-serif !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-fadeInDown {
  animation: fadeInDown 0.25s ease-in-out forwards;
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popUp {
  animation: popUp 0.1s ease-out;
}

input:focus {
  outline: none;
}

/* p-inputotp */
.p-inputotp {
  @apply flex items-center gap-2 select-none;
}

/* p-inputtext */
.p-inputtext {
  @apply text-center w-10 py-3 px-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-800 focus:border-green-800 transition;
}

/* กรณีที่เน้นสถานะที่โฟกัส */
.p-inputtext:enabled:focus {
  @apply border-green-800;
}

/* กำหนดสี border ปกติ */
.p-inputtext:enabled {
  @apply border-gray-300;
}

.ant-dropdown-menu-item, .ant-table-content, .ant-picker-dropdown, .ant-pagination {
  @apply font-sarabun;
}

.ant-picker-dropdown {
  @apply z-10
}

.ant-picker-input {
  @apply py-1
}

.ant-tooltip-open, .ant-tag, .ant-popover-content, .ant-popconfirm-buttons button, .ant-modal-content, .ant-steps-item {
  @apply font-sarabun
}

.ant-steps-item-title {
  @apply font-semibold
}

.ant-table-thead {
  @apply text-[0.9rem]
}

.ant-table-thead > tr > th {
  background-color: #1C398E !important;
  color: white !important;
}

.ant-table-column-sorter, 
.ant-table-filter-trigger {
  color: white !important;
}

.ant-table-filter-trigger.active {
  color: dodgerblue !important;
}

.ant-empty-description {
  @apply font-sarabun font-black text-[0.95rem]
}